* {
    font-family: Verdana;
}
li.active {
    background-color: rgba(255,255,255,0.2);
}
li {
    height: 40px;
    width: 50px;
}
ul {
    margin: 0 !important;
    padding: 0;
    list-style: none;
    position: fixed;
    top: 10px;
    right: 0;
    z-index: 1;
}
i {
    text-align: center;
    color: white;
}
li > a {
    padding: 10px;
    display: block;
    color: black;
}
p {
    text-align: center;
    color: white;
}
a:hover {
    position: relative;
}
a:hover > i {
    color: silver;
}
a[value]:hover:before {
    content: attr(value);
    padding: 10px 5px;
    color: silver;
    position: absolute;
    right: 110%;
    top: 0;
    z-index: 2;
    white-space: nowrap;
    transition: 2s;
}