/* General */
* {
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
}
.container-fluid {
    padding: 0 0 0 0 !important;
}
.row {
    margin: 0 0 0 0 !important;
}

/* Navigation sidebar */
li.active {
    background-color: rgba(255,255,255,0.2);
}
li {
    height: 40px;
    width: 50px;
}
ul {
    margin-bottom: 0 !important;
    padding: 0;
    list-style: none;
    position: fixed;
    top: 10px;
    right: 0;
    z-index: 1;
}
i {
    color: #B1C1C0;
}
li > a {
    text-align: center;
    padding: 10px;
    display: block;
    color: black;
}
p {
    text-align: center;
    color: white;
}
a:hover {
    position: relative;
}
a:hover > i {
    color: #79ADDC;
}
a[value]:hover::before {
    content: attr(value);
    padding: 10px 5px;
    color: #79ADDC;
    position: absolute;
    right: 110%;
    top: 0;
    z-index: 2;
    white-space: nowrap;
}

/* Particle.js */
#particles-js{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background: #375CBA; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #375CBA , #000); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #375CBA, #000); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #375CBA, #000); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #375CBA , #000); /* Standard syntax */
}

/* --- Default Styles --- */

/* Home */
.home {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.title {
    text-align: center;
    padding-top: 10%;
}
.title img {
    width: 250px;
}
.title h1 {
    font-size: 100px;
    font-weight: 100;
}
.title h2 {
    font-size: 50px;
    font-weight: 500;
    padding-top: 20px;
}
.title h3 {
    font-weight: 300;
}

/* About */
.about h1 {
    font-size: 80px;
    font-weight: 100;
    margin-bottom: 30px;
}
.about p {
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}
/* Timeline */
.timeline h1 {
    font-size: 80px;
    font-weight: 100;
    color: black;
}
body,
html {
  color: #2C2C2C;
  min-width: 600px;
  height: 100%;
  background: white;
  font-weight: 400;
  font-size: 1em;  
  -webkit-font-smoothing: antialiased;
}
.tmline {
  height: 100%;
  position: relative;
}
.tmline canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.tmline figcaption {
    color: #000;
  font-weight: 400;
  font-size: 190%;
  text-transform: uppercase;
  -webkit-text-stroke: .25px;
}
.tmline h2 {
  font-weight: 400;
  font-size: 400%;
  padding-bottom: 40px;
  color: #375CBA;
}
.tmline h6 {
  color: #0072E5;
  font-weight: 400;
  font-size: 80%;
}
.tmline p,
.tmline ol {
  font-weight: 400;
  font-size: 16px;
  padding: 3px 0 20px 0;
  color: #575757;
  text-align: justify;
}
.tmline ol {
  list-style: disc;
  margin-top: -20px;
  padding-left: 40px;
}
.tmline figure {
  float: right;
  width: 100%;
  margin-bottom: 15px;
}
.figure_left {
  border-right: 7px solid #5D77BA;
  padding-right: 10px;
}
.figure_right {
  border-left: 7px solid #7F7F7F;
  padding-left: 10px;
}
.tmline article {
  position: relative;
  width: 38%;
  overflow: hidden;
}
.tmline article:first-of-type {
  float: left;
  text-align: right;
}
.tmline article:first-of-type p,
.tmline article:first-of-type figure {
  float: right;
}
.tmline article:last-of-type {
  float: right;
}
.tmline article:last-of-type h2 {
  color: #000;
}
.tmline article:last-of-type h6,
.tmline article:last-of-type a {
  color: #454545;
}

/* Skills */
/* Projects */
/* Contact */

/* <1200px */
@media (max-width: 1200px) {
    /* Home */
    .title h1 {
        font-size: 80px;
    }
    .title h2 {
        font-size: 40px;
    }
    /* About */
    /* Timeline */
    .timeline h1 {
        font-size: 80px;
        font-weight: 100;
        color: black;
    }
    .tmline canvas {
        visibility: hidden;
    }
    .tmline article {
        width: 48%;
    }
    /* Skills */
    /* Projects */
    /* Contact */    
}

/* <992px */
@media (max-width: 992px) {
    /* Home */
    .title h1 {
        font-size: 70px;
    }
    .title h2 {
        font-size: 34px;
    }
    /* About */
    /* Timeline */
    .timeline h1 {
        font-size: 70px;
        font-weight: 100;
        color: black;
    }
    /* Skills */
    /* Projects */
    /* Contact */  
}

/* <768px */
@media (max-width: 768px) {
    /* Home */
    .title h1 {
        font-size: 50px;
    }
    .title h2 {
        font-size: 29px;
    }
    /* About */
    /* Timeline */
    .timeline h1 {
        font-size: 50px;
        font-weight: 100;
        color: black;
    }
    /* Skills */
    /* Projects */
    /* Contact */  
}