/* 
    60%: #232323
    30%: #4062BB
    10%: #FFF
*/
/* General */
* {
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
}

/* Navigation sidebar */
li.active {
    background-color: rgba(255,255,255,0.2);
}
li {
    height: 40px;
    width: 50px;
}
ul {
    margin-bottom: 0 !important;
    padding: 0;
    list-style: none;
    position: fixed;
    top: 10px;
    right: 0;
    z-index: 1;
}
i {
    color: #FFF;
}
li > a {
    text-align: center;
    padding: 10px;
    display: block;
    color: black;
}
p {
    text-align: center;
    color: white;
}
a:hover {
    position: relative;
}
a:hover > i {
    color: #5CA7D9;
}
a[value]:hover::before {
    content: attr(value);
    padding: 10px 5px;
    color: #79ADDC;
    position: absolute;
    right: 110%;
    top: 0;
    z-index: 2;
    white-space: nowrap;
}

/* Home */
/* About */
/* Timeline */
/* Skills */
/* Projects */
/* Contact */